<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   {{ title }}!
  </h1>
</div>

Sum:<br>
<input type="text" pattern="{{pattern}}" maxlength="10" required 
[(ngModel)]="numbers[0]" name="number0" #number0="ngModel" > +
<input type="text" pattern="{{pattern}}" maxlength="10" required [(ngModel)]="numbers[1]" name="number1" #number1="ngModel"> &nbsp;
<button [disabled]="!number0.valid || !number1.valid "(click)='sum()'> = </button>&nbsp;&nbsp;{{displays[0]}}<br><br>

Difference:<br>
<input type="text" pattern="{{pattern}}" maxlength="10" required 
[(ngModel)]="numbers[2]" name="number2" #number2="ngModel" > -&nbsp;
<input type="text" pattern="{{pattern}}" maxlength="10" required [(ngModel)]="numbers[3]" name="number3" #number3="ngModel"> &nbsp;
<button [disabled]="!number2.valid || !number3.valid "(click)='difference()'> = </button>&nbsp;&nbsp;{{displays[1]}}<br><br>

Product:<br>
<input type="text" pattern="{{pattern}}" maxlength="10" required 
[(ngModel)]="numbers[4]" name="number4" #number4="ngModel" > *
<input type="text" pattern="{{pattern}}" maxlength="10" required [(ngModel)]="numbers[5]" name="number5" #number5="ngModel"> &nbsp;
<button [disabled]="!number4.valid || !number5.valid "(click)='product()'> = </button>&nbsp;&nbsp;{{displays[2]}}<br><br>

Quotient:<br>
<input type="text" pattern="{{pattern}}" maxlength="10" required 
[(ngModel)]="numbers[6]" name="number6" #number6="ngModel" > /&nbsp;
<input type="text" pattern="{{pattern}}" maxlength="10" required [(ngModel)]="numbers[7]" name="number7" #number7="ngModel"> &nbsp;
<button [disabled]="!number6.valid || !number7.valid "(click)='quotient()'> = </button>&nbsp;&nbsp;{{displays[3]}}<br><br>

<p *ngIf="number0?.errors?.pattern || number1?.errors?.pattern">Only numbers allowed</p>
<p *ngIf="number2?.errors?.pattern || number3?.errors?.pattern">Only numbers allowed</p>
<p *ngIf="number4?.errors?.pattern || number5?.errors?.pattern">Only numbers allowed</p>
<p *ngIf="number6?.errors?.pattern || number7?.errors?.pattern">Only numbers allowed</p>
